<h2>Админ панель</h2>
<ul>
    <li>Частные события:
        <ul>
            <li><a href="/create-private-event/">Добавить событие</a></li>
            <li><a href="/deleted-private-events/">Удаленные события</a></li>
        </ul>
    </li>
    <li>Публичные события:
        <ul>
            <li><a href="/create-public-event/">Добавить событие</a></li>
            <li><a href="/unverified-public-events/">Список предложений</a></li>
            <li><a href="/deleted-public-events/">Удаленные события</a></li>
        </ul>
    </li>
    <li>Локации Киева:
        <ul>
            <li><a href="/create-place/">Добавить локацию</a></li>
            <li><a href="/unverified-places/">Список предложений</a></li>
            <li><a href="/deleted-places/">Удаленные локации</a></li>
        </ul>
    </li>
</ul>